html {
  height: 100%;
  width: 100%;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
}
button:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75em;
  font-size: 16px;
  background-color: black;
  color: #white;
}

